<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('shared/BspCssJqueryLinks') %>
    <link rel="stylesheet" href="/css/login.css">

  </head>

  <body >
  <div class="container mt-5" >
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8 p-4 shadow-lg" style=" box-shadow: 2px 2px 10px rgb(133, 133, 133) !important;" >
          <div class="row justify-content-center">
            <div class="col-3 mb-1 ">
                <h2 class="h3">Login</h2>
                <!-- <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to Signup</h3> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <form action="#!">
                    <div class="col-12 pb-3">
                        <label for="email" class="form-label">Username </label>
                        <input type="text" class="form-control" name="username" id="loginUsername" required>
                    </div>
                    <div class="col-12 pb-3">
                        <label for="password" class="form-label">Password </label>
                        <input type="text" class="form-control" name="password" id="loginPassword" value="" required>
                    </div>      
                    <div class="col-sm-12 mt-3">
                        <div class="d-grid">
                            <button type="submit" id="loginConfirm" class="btn btn-primary" >Login</button>
                        </div>
                    </div>                  
                    </div>
                </form>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- if server level pe sb kuch krrhe to -->
                <a href="http://localhost:8000/google"> Continue with Google</a>
                <p class="m-0 text-secondary text-center "><a class="link-primary text-decoration-none" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#forgotPassword">ForgotPassword?</a></p>
              </div>
          </div>
            <div class="row justify-content-center mt-2">          
                <div class="text-success text-center pt-2" id="loginSuccessMessage">

                </div>
                <div class="text-danger text-center"  id="loginErrorMessage">

                </div>              
            </div>
          </div>
      </div>
    </div>
  </div>

  
  <!-- FORGOT Password Modal  -->
  <div class="modal fade" id="forgotPassword" tabindex="-1" aria-labelledby="exampleModalLabel"         aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Did you forgot your Password?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-12">
              <label for="fpusername" class="form-label">Username </label>
              <input type="text" class="form-control" name="username" id="fpusername" placeholder="Type here" required>
          </div>
          <div class="col-12">
              <label class="form-label">Enter new Password </label>
              <input type="text" class="form-control" name="enp" id="enp" placeholder="type here" required>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center mt-2">          
              <div class="text-success text-center pt-2" id="enpSuccessMessage">

              </div>
              <div class="text-danger text-center"  id="enpErrorMessage">

              </div>              
              </div>
          <button type="button" class="newPasswordConfirm btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- TOAST -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                  <!-- <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small class="text-body-secondary">11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div> -->
                  <div class="toast-body main" >
                    
                  </div>
                </div>
            </div>


  <%- include('shared/BspJsAxiosLinks') %>    
    <!-- this.ejs js-file  -->
    <script src="/login.js"></script>
  </body>
</html>