/* body{margin-top:20px;
background:#eee;
} */

/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > .x {
  color: inherit;
}
.contact-box.center-version {
  border: 3px solid #e7eaec;
  padding: 0;
  border-radius: 15px;
}
.contact-box.center-version > .x {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > .x .img-circle {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
.x{
    text-decoration:none !important;    
}


#logout:hover{
  background-color: #fd0d0d;
  color: white;
  transform: translateY(-2px);
  box-shadow: 10px 6px 10px rgb(252, 31, 31);
}
#logout:active{
  transform: scale(0.80);
  box-shadow: 10px 6px 10px rgb(207, 7, 7);
}
.edit:hover {
  background-color: #1962ff;
  color: white;
  transform: translateY(-2px);
  box-shadow: 10px 6px 10px rgb(26, 49, 255);
}
.edit:active {
  transform: scale(0.80);
  box-shadow: 10px 6px 10px rgb(16, 106, 241);
}